[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
image = "0.25.9"
realfft = "3.5.0"
rodio = { version = "0.21.1", features = ["wav_output"] }
rustfft = "6.4.1"
spectrogram = { version = "0.1.0", path = "../spectrogram" }
