[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
image = "0.25.9"
rodio = { version = "0.21.1", features = ["wav_output"] }
spectrogram = { version = "0.1.0", path = "../spectrogram" }
